/* HEADER ============================== */
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #26547c;
}
.navbar {
  height: 100px;
}

.navbar img {
  height: 300px;
}

/* a .nav-link:hover {
  color: #ffc15e;
} */
/* MAIN============================= */
/* 
.active:hover {
  color: #ffc15e;
} */

/* FOOTER */
footer {
  height: 300px;
}

footer img {
  height: 300px;
}

i {
  font-size: 10em;
}

section,
.container,
.row {
  margin-top: 50px;
  margin-bottom: 5l0px;
}
