/* REFERENCES
COLOR 1= #26547c 

COLOR 2= #ffc15e 

COLOR 3= #70d6ff

COLOR 4= #FFF*/

/* HEADER ============================== */
* {
  margin: 0;
  padding: 0;
  font-family: "Sanchez", serif;
  font-size: 1.1rem;
}
#presentation img {
  width: 100%;
}
.col-md-4 .CV button i {
  margin-left: 20px;
}

i {
  font-size: 100px;
  color: #26547c;
}
i:hover {
  color: #ffc15e;
}
header {
  width: 100%;
  /* z-index: 1; */
}
.navbar-nav .nav-link.active,
.fixed-top {
  color: #ffc15e;
  background: #26547c;
}

a {
  text-decoration: none;
}
header img {
  height: 200px;
}
header,
.navbar {
  height: 150px;
}
section .profil {
  height: fit-contents;
}
.btn .btn-default {
  display: flex;
  justify-content: center;
  bottom: 30px;
}
section,
h2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
section .projet {
  /* height: 33%; */
  margin: 10px;
  width: 400px;
  overflow: hidden;
}
/* section .projet:hover {
  width: 70%;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
} */
section .projet img {
  width: 50%;
  height: auto;
}

section .projet img:hover {
  width: 100%;
  padding-right: 5px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
section .col-md-3 img {
  margin: 20px;

  width: 95%;
  border: solid 2.5px #ffc15e;
}
/* #techno .col-md-2 {
  margin-right: 10px;
} */
footer {
  height: 350px;
  color: #70d6ff;
  width: 100%;
}
@media screen and (max-width: 430px) {
  #presentation img {
    width: 80vw;
    margin-bottom: 60px;
  }
  #presentation .col-md-3 {
    display: flex;
    justify-content: center;
  }
  header img {
    margin-left: 50%;
    width: 20%;
  }

  .navbar-toggler {
    background-color: #ffc15e;
  }

  .col-md-4 .CV {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  #techno .col-md-2 {
    margin-right: 20px;
  }
  header img {
    margin-left: 50%;
    width: 80%;
    /* height: auto; */
  }
  .navbar-toggler {
    background-color: #ffc15e;
  }
  .col-md-4 .CV {
    justify-content: center;
  }
}
